<!doctype html>
<html ng-app="app">
<head>
    <title>MainPage</title>
    <link href="css/style.css" rel="stylesheet">
    <style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>
</head>

<body>
<p style="text-align:center;">
    <font size="5">Data</font>
</p>

<div ng-controller="controller">

    <h2>Add</h2>
        <form ng-submit="submitData()">
            Number:<br>
            <input type="text" ng-model="formData.number" required ><br>
            Title:<br>
            <textarea name="title" ng-model="formData.title" required >Enter text here...</textarea>
            <!--<input type="text" ng-model="formData.title">-->
            <br><br>
            <input type="submit" ngClick="Submit" />
            <hr />
        </form>

    <h2>Show data by id</h2>
    <form ng-submit="showDataById()">
        Input id:<br>
        <input type="text" name="idUn" ng-model="idUn" required />
        <input type="submit" ngClick="Submit" />
    </form>
    <table border="1" style="width:100%">
        <tr>
            <td style="width: 33%%"><p style="text-align:center;">
                Id
            </td>
            <td style="width: 33%"><p style="text-align:center;">
                Number
            </td>
            <td style="width: 33%"><p style="text-align:center;">
                Title
            </td>
        </tr>
        <tr>
            <td>
                <ul style="text-align:center;">
                    {{item.id}}
                </ul>
            </td>
            <td>
                <ul style="text-align:center;">
                    {{item.number}}
                </ul>
            </td>
            <td>
                <ul style="text-align:center;">
                    {{item.title}}
                </ul>
            </td>
        </tr>
    </table>
    <hr />

    <h2>Delete</h2>
    <form ng-submit="DeleteData()">
        Input id:<br>
            <input type="text" name="id" ng-model="id" required />
        <input type="submit" ngClick="Submit" />
        <hr />
    </form>

    <h2>All Data</h2>
    <table border="1" style="width:100%">
        <tr>
            <td style="width: 33%%"><p style="text-align:center;">
                Id
            </td>
            <td style="width: 33%"><p style="text-align:center;">
                Number
            </td>
            <td style="width: 33%"><p style="text-align:center;">
                Title
            </td>
        </tr>
        <tr>
            <td>
                <ul style="text-align:center;" ng-repeat="res in results">
                    {{res.id}}
                </ul>
            </td>
            <td>
                <ul style="text-align:center;" ng-repeat="res in results">
                    {{res.number}}
                </ul>
            </td>
            <td>
                <ul style="text-align:center;" ng-repeat="res in results">
                    {{res.title}}
                </ul>
            </td>
        </tr>
    </table>
</div>
<div ng-view class="container"></div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>